body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
  }
  
  button {
    display: block;
    width: 250px;
    height: 40px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .containerChild {
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    padding-top: 7px;
    padding-bottom: 20px;
  }
  
  .rememberMe {
    display: flex;
    
  }

  .forgotPassword {
    padding-left: 40px;
    color: rgb(100, 100, 100);
  }
  
  h2 {
    font-family: sans-serif;
    font-size: 35px;
  }

  h1 {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    padding: 300px;
  }

  .message {
    font-size: 20px;
    font-family: sans-serif;
  }